{% extends 'base.html' %}

{% load static %}

{% block title %}
Main Page
{% endblock %}

{% block content %}
<style>
    /* แผนภูมิวงกลม */
    .container {
        display: flex; /* ใช้ Flexbox สำหรับการจัดตำแหน่ง */
        justify-content: center; /* จัดให้อยู่กลางแนวนอน */
        align-items: center; /* จัดให้อยู่กลางแนวตั้ง */

    }
    .pie {
        --p: 25;
        --b: 25px;
        --c: darkred;
        --w: 300px;

        width: var(--w);
        aspect-ratio: 1;
        position: relative;
        display: inline-grid;
        margin: 5px;
        place-content: center;
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
       
    }
    .pie:before,
    .pie:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .pie:before {
        inset: 0;
        background:
            radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
            conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - var(--b)), #000 calc(100% - var(--b)));
        mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
        border: 2px solid #000;
    }
    .pie:after {
        inset: calc(50% - var(--b)/2.1); /* ปรับค่าหารเพื่อลดขนาดวงกลมภายใน */
        background: var(--c);
        transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2.02)); /* ปรับค่า translateY เล็กน้อย */
    }

    h1 {
        margin-top: 5%;
    }

    body {
        text-align: center;
    }

    p {
        font-family: lafl0raFont;
        font-weight: normal;
        line-height: 1.2; /* ปรับค่านี้ตามต้องการ */
      }
    
    h3 {
        font-size: 20px;
        text-align: left;
        padding-left: 20px;
        font-weight: bold;
        color: black

    }

    body{
        background-color:#eee;
        font-weight: 300;
    }

       .height{
        height: 100vh;
    }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }

       .search input{
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }

    /* ช่องค้นหา */
.input-search {
    border-radius: 10px;
    width: 40%;
    padding: 8px;
    border: 1px solid #555;
    margin-right: 10px;
}

.input-search2 {
    border-radius: 10px;
    width: 40%;
    padding: 8px;
    border: 1px solid #555;
    margin-right: 10px;
}
/* ปุ่มค้นหา */
.button-search {
    border-radius: 10px;
    background-color: #555;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-search:hover {
    background-color: #333;
}

/* ปุ่มค้นหา */
.button-search2 {
    border-radius: 10px;
    background-color: #555;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-search2:hover {
    background-color: #333;
}

/* ปุ่ม Add New Booking */
.button-add-booking {
    border-radius: 10px;
    background-color: #ff85a1;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-add-booking:hover {
    background-color: #ff6585;
}

/* ตารางทั้งหมด */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    font-weight: normal;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* เส้นขอบของหัวตาราง */
.styled-table th {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* เส้นขอบของแถวข้อมูล */
.styled-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

.styled-table tr {
    background-color: #ffffff;
}

/* เปลี่ยนสีแถวเมื่อวางเมาส์ */
.styled-table tr:hover {
    background-color: #f1c0e8;
}

/* เส้นขอบรวม */
.styled-table th, .styled-table td {
    border: 1px solid #dddddd;
}

</style>
<div>
{% if not user.is_staff %}
<div class="col-md-6" style="border-radius: 50px; background-color: #faedcb; padding: 2%; margin-top: 8%; margin-bottom: 2%; width: 1300px; border: 2px solid #000; padding-bottom: 10%;">
    <h1 id="hello">
        Hello
    </h1>
    <p id="descriptionhello" style="margin-bottom: 8%;">
        This is your report for today.
    </p>
    <table style="width: 100%; height: 300px; margin: 0 auto;"> 
        <tr>
            <td colspan="2" style="text-align: center; width: 49%;"> <div class="container">
                <div class="pie" style="--p: {{ percentkcal }} ; --c:#cdb4db; --w: 400px;"> 
                    <p id="piechart1" style="font-size: 18px;"> today </p>
                    <p style="font-size: 250%;"> {{ sumkcal }} </p>
                    <p id="piechart2" style="font-size: 18px;">
                        kcal from
                        <span class="text-danger">{{ user_profile.TDEE }}</span> 
                        kcal goal
                    </p>
                    <p style="font-size: 18px; color: #6c757d">
                        ( {{ percentkcal|floatformat:0 }} % )
                    </p>
            </td>
            <td style="width: 2%;"></td>
            <td style="text-align: center; width: 49%; margin-left: 2%;" >
                <h3 id="piechart3" style="margin-bottom: 5%;">
                    Calories consumed from food
                </h3>
                <table style="margin: 0 auto; width: 50%;">
                    <tr>
                        <td style="width: 30%; vertical-align: top;">
                            <img src="/static/mainpage_1.png" alt="Food" width="40">
                        </td>
                        <td style="width: 70%; vertical-align: bottom;">
                            <p class="text-danger" style="font-size: 30px;"> {{ today_food }} kcal </p>
                        </td>
                    </tr>
                </table>
                <h3 id="piechart4" style="margin-top: 5%; margin-bottom: 5%;">
                    Calories burned from exercise
                </h3>
                <table style="margin: 0 auto; width: 50%;">
                    <tr>
                        <td style="width: 30%; vertical-align: top;">
                            <img src="/static/mainpage_2.png" alt="exercise" width="40">
                        </td>
                        <td style="width: 70%; vertical-align: bottom;">
                            <p class="text-success" style="font-size: 30px;"> {{ today_ex }} kcal</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{% endif %}
{% if user.is_staff %}
<div style="height: 30px;">  </div>
{% endif %}
<div class="col-md-6" style="border-radius: 50px; background-color: #c6def1 ; padding: 2%; margin-top: 6%; margin-bottom: 2%; width: 100%; border: 2px solid #000; padding-bottom: 7%;" >
    <br><br>
    <h2 id="food1">
        Add your foods
    </h2><br>
    <table style="width: 100%; height: 500px; margin: 0 auto;"> <tr>
        <td style="text-align: center; width: 49%; margin-left: 2%; padding: 15px; border-radius: 15px;">
            <form method="GET" action="{% url 'mainpage' %}">
                <input class="input-search" type="text" name="search" placeholder="Search Menu/Ingredient">
                <input class="button-search" type="submit" value="Search">
                {% if not user.is_staff %}
                <a id="food2" class="button-add-booking">Add New Menu</a>
                {% endif %}
            </form>
            <div style="overflow-x: hidden; overflow-y: auto; max-height: 400px; width: 100%; margin-top: 2.5%;">
                <table class="styled-table">
                    <tr>
                        <th id="foodname">Name</th>
                        <th id="foodcal">Calories</th>
                        <th id="foodquantity">Quantity in grams</th>
                        <th id="foodowner">Creator</th>
                        {% if not user.is_staff %}
                        <th></th>
                        {% endif %}
                    </tr>
                    <tbody>
                        {% for food in foods %}
                        <tr>
                            <td> {{ food.name }} </td>
                            <td style="color: darkblue;"> {{ food.calories }} kcal</td>
                            <td> {{ food.quantity_in_grams }} g . </td>
                            <td> {{ food.user.username}} </td>
                            {% if not user.is_staff %}
                            <td>
                                <div style="background-color: lavender; border-radius: 25px; padding: 8px; border: 2px solid indigo; text-align: center;">
                                        <a class="foodchoose" href="{% url 'fooddetail' food.id %}" style="color: black; text-decoration: underline;">
                                            Choose
                                        </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </td>
      </tr>
    </table>

    <br><br>
    <h2 id="ex1">
        Add your exercises
    </h2><br>
    <table style="width: 100%; height: 500px; margin: 0 auto;"> <tr>
        <td style="text-align: center; width: 49%; margin-left: 2%; padding: 15px; border-radius: 15px;">
            <form method="GET" action="{% url 'mainpage' %}">
                <input class="input-search2" type="text" name="search2" placeholder="Search Exercise">
                <input class="button-search2" type="submit" value="Search">
            </form>
            <div style="overflow-x: hidden; overflow-y: auto; max-height: 400px; width: 100%; margin-top: 2.5%;">
                <table class="styled-table">
                    <tr>
                        <th id="exname">Name</th>
                        <th id="excalmin">Calories (Per Minute)</th>
                        <th id="excalhr">Calories (Per Hour)</th>
                        {% if not user.is_staff %}
                        <th></th>
                        {% endif %}
                    </tr>
                    <tbody>
                        {% for exercise in exercises %}
                        <tr>
                            <td> {{ exercise.name }} </td>
                            <td> {{ exercise.calories_burned_per_min }} kcal  </td>
                            <td style="color: darkblue;"> {{ exercise.calories_burned_per_hour }} kcal </td>
                            {% if not user.is_staff %}
                            <td>
                                <div style="background-color: lavender; border-radius: 25px; padding: 8px; border: 2px solid indigo; text-align: center;">
                                    <a class="exchoose" href="{% url 'exercisedetail' exercise.id %}" style="color: black; text-decoration: underline;">
                                        Choose
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </td>
      </tr>
    </table>
</div>
</div>
<script>
    var language = {
        en: {
            logo: "Healthy-Pig",
            navprofile: "I'm, {{ user.username }}",
            navmain: "<b>Main</b>",
            navprogress: "<b>Progress</b>",
            hello: "Hello",
            descriptionhello: "This is your report for today.",
            piechart1: "today",
            piechart2: 'kcal from <span class="text-danger">{{ user_profile.TDEE }}</span> kcal goal',
            piechart3: "Calories consumed from food",
            piechart4: "Calories burned from exercise",
            food1: "Add your foods",
            searchPlaceholder: "Search Menu/Ingredient",
            searchButton: "Search",
            food2: "Add New Menu",
            foodname: "Name",
            foodcal: "Calories",
            foodquantity: "Quantity in grams",
            foodowner: "Creator",
            foodchoose: "Choose",
            ex1: "Add your exercises",
            searchPlaceholder2: "Search Exercise",
            searchButton2: "Search",
            exname: "Name",
            excalmin: "Calories (Per Minute)",
            excalhr: "Calories (Per Hour)",
            exchoose: "Choose",
            navlogout: "Logout",
        },
        th: {
            logo: "หมูแข็งแรง",
            navprofile: "ฉันคือ {{ user.username }}",
            navmain: "<b>หน้าหลัก</b>",
            navprogress: "<b>ความคืบหน้า</b>",
            hello: "สวัสดี",
            descriptionhello: "นี่คือรายงานของคุณสำหรับวันนี้",
            piechart1: "วันนี้",
            piechart2: 'แคลอรีจากเป้าหมาย <span class="text-danger">{{ user_profile.TDEE }}</span> แคลอรี',
            piechart3: "แคลอรี่ที่ได้รับจากอาหาร",
            piechart4: "แคลอรี่ที่เผาผลาญจากการออกกำลังกาย",
            food1: "เพิ่มอาหารของคุณ",
            searchPlaceholder: "ค้นหาเมนู/ส่วนผสม",
            searchButton: "ค้นหา",
            food2: "เพิ่มเมนูใหม่",
            foodname: "ชื่อ",
            foodcal: "แคลอรี่",
            foodquantity: "ปริมาณ (กรัม)",
            foodowner: "ผู้คิดค้น",
            foodchoose: "เลือก",
            ex1: "เพิ่มการออกกำลังกายของคุณ",
            searchPlaceholder2: "ค้นหาการออกกำลังกาย",
            searchButton2: "ค้นหา",
            exname: "ชื่อ",
            excalmin: "แคลอรี่ (ต่อนาที)",
            excalhr: "แคลอรี่ (ต่อชั่วโมง)",
            exchoose: "เลือก",
            navlogout: "ออกจากระบบ",
        },
    };

    // ฟังก์ชันเพื่อเปลี่ยนภาษา
    function changeLanguage(lang) {
        localStorage.setItem("preferredLanguage", lang);
        document.getElementById("logo").innerText = language[lang].logo;
        document.getElementById("navprofile").innerText = language[lang].navprofile;
        document.getElementById("navmain").innerHTML = language[lang].navmain;
        document.getElementById("navlogout").innerHTML = language[lang].navlogout;
        // ตรวจสอบว่าไม่ใช่ staff ก่อนจะทำการเปลี่ยนข้อความ
        {% if not user.is_staff %}
            document.getElementById("navprogress").innerHTML = language[lang].navprogress;
            document.getElementById("hello").innerText = language[lang].hello;
            document.getElementById("descriptionhello").innerText = language[lang].descriptionhello;
            document.getElementById("piechart1").innerText = language[lang].piechart1;
            document.getElementById("piechart2").innerHTML = language[lang].piechart2;
            document.getElementById("piechart3").innerText = language[lang].piechart3;
            document.getElementById("piechart4").innerText = language[lang].piechart4;
            document.getElementById("food2").innerText = language[lang].food2;

            // อัปเดตปุ่ม "Choose"
            var chooseElements = document.querySelectorAll(".foodchoose");
            chooseElements.forEach(function (element) {
                element.innerText = language[lang].foodchoose;
            });

            // อัปเดตปุ่ม "Choose" สำหรับการออกกำลังกาย
            var exChooseElements = document.querySelectorAll(".exchoose");
            exChooseElements.forEach(function (element) {
                element.innerText = language[lang].exchoose;
            });
        {% endif %}

        document.getElementById("food1").innerText = language[lang].food1;
        // อัปเดตการค้นหาอาหาร
        document.querySelector(".input-search").setAttribute("placeholder", language[lang].searchPlaceholder);
        document.querySelector(".button-search").setAttribute("value", language[lang].searchButton);
        
        document.getElementById("foodname").innerText = language[lang].foodname;
        document.getElementById("foodcal").innerText = language[lang].foodcal;
        document.getElementById("foodquantity").innerText = language[lang].foodquantity;
        document.getElementById("foodowner").innerText = language[lang].foodowner;


        // อัปเดตการค้นหาการออกกำลังกาย
        document.querySelector(".input-search2").setAttribute("placeholder", language[lang].searchPlaceholder2);
        document.querySelector(".button-search2").setAttribute("value", language[lang].searchButton2);

        // อัปเดตส่วนที่เกี่ยวกับการออกกำลังกาย
        document.getElementById("ex1").innerText = language[lang].ex1;
        document.getElementById("exname").innerText = language[lang].exname;
        document.getElementById("excalmin").innerText = language[lang].excalmin;
        document.getElementById("excalhr").innerText = language[lang].excalhr;


    }

    document.addEventListener("DOMContentLoaded", function () {
        const preferredLanguage = localStorage.getItem("preferredLanguage") || "en";
        changeLanguage(preferredLanguage);
    });

    document.querySelectorAll("[data-reload]").forEach((button) => {
        button.onclick = function () {
            changeLanguage(this.getAttribute("data-reload"));
            location.reload();
        };
    });
</script>
{% endblock %}


